# Dependências
node_modules/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Variáveis de ambiente
.env
.env.local

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
